
@{
    Layout = null;
}

<!DOCTYPE html>

<h3>Mvc Kamp Tablo Örneği - Kategoriler</h3>
<br />

<table>
    <tr>
        <th>Id</th>
        <th>Adı</th>
        <th>Açıklama</th>
        <th>Durum</th>
    </tr>
    <tr>
        <td>1</td>
        <td>Yazılım</td>
        <td>Açıklama yapıldı</td>
        <td>True</td>
    </tr>
    <tr>
        <td>2</td>
        <td>Oyun</td>
        <td>Açıklama yapıldı...</td>
        <td>True</td>
    </tr>
</table>
